<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_info %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @book.classification %>
</p>

<p>
  <strong>Type:</strong>
  <%= @book.book_type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<br>
<%= button_to "Edit", edit_book_path(@book), :method => "get" %>
<br>
<%= button_to "Home Page", root_path, :method => "get" %>
